@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Milchella';
  src: url('./assets/fonts/Milchella-Regular.ttf');
}

.milchella {
  font-family: 'milchella';
}

.App {
  background: hsl(var(--b1));
  background: linear-gradient(115deg, hsl(var(--nc)) 0%, hsl(var(--s)) 100%);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--b));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--sc));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--sf));
}